* {
  font-style: normal;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

html {
  body {
    background: #8ECAE6;
    min-width: 600px;

    h1,
    h2,
    h3 {
      color: #FFFFFF;
    }

    header {
      display: block;
      margin: 0 auto;
      padding: 50px 20px;

      h1 {
        font-size: 50px;
        text-shadow: 4px 3px #0E5B75;
      }

      span {
        font-size: 26px;
      }

      > * {
        text-align: center;
        display: block;
      }
    }

    section {
      padding: 0 0 30px;

      div.row {
        margin: 0 auto;
        max-width: 800px;
        padding: 40px 20px;
        box-sizing: border-box;

        h2 {
          background: #219EBC;
          box-shadow: 6px 4px #075782;
          padding: 20px;
          margin: 0 0 70px;
        }

        ul {
          margin: 10px 0 10px 30px;
        }

        div.stat_container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 20px;

          span {
            // height: 200px;
            text-align: center;
            padding: 40px 10px 80px;
            box-sizing: border-box;
            font-size: 50px;
            background: #219EBC;
            // border: 2px solid #075782;
            // box-shadow: 6px 4px #075782;
            position: relative;

            &::after {
              content: attr(data-label);
              position: absolute;
              left: 20px;
              right: 20px;
              bottom: 50px;
              font-size: 20px;
            }
          }
        }

        div.card_collection {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          padding: 20px 0;

          span {
            display: block;
            margin: 10px 20px;
            text-align: center;
            padding: 140px 10px 10px;
            background-repeat: no-repeat;
            background-position: center top 10px;
            background-size: 100px;
            width: 100px;
            position: relative;
            color: #FFFFFF;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: #219EBC;
              z-index: -1;
              border-radius: 4px;
            }

            &::after {
              content: "";
              position: absolute;
              height: 40px;
              right: 0;
              bottom: 0;
              left: 0;
              background: #075782;
              z-index: -1;
              border-radius: 4px;
              border-top-right-radius: 0;
              border-top-left-radius: 0;
            }

            &.gcp {
              background-image: url("/images/gcp.png");
            }

            &.centos {
              background-image: url("/images/centos.png");
            }

            &.twilio {
              background-image: url("/images/twilio.png");
            }

            &.mariadb {
              background-image: url("/images/mariadb.png");
            }

            &.domain {
              background-image: url("/images/domain.png");
            }

            &.dialogflow {
              background-image: url("/images/dialogflow.png");
            }

            &.atom {
              background-image: url("/images/atom.png");
            }
          }
        }
      }

      &.split {
        div.row {
          p {
            display: block;
            width: calc(100% - 350px);
            margin: 20px 0;
          }
          background-image: url("../images/rocket.png");
          background-repeat: no-repeat;
          background-position: center right;
          background-size: 400px 400px;
        }
      }

      &.pass {
        div.row {
          $red: #219EBC;
          $grey: #ecedef;
          $black: #343434;

          .cardWrap {
            margin: 0 auto;
            color: #fff;
            font-family: sans-serif;
          }

          .card {
            background: linear-gradient(to bottom, $red 0%, $red 26%, $grey 26%, $grey 100%);
            height: 11em;
            float: left;
            position: relative;
            padding: 1em;
            -webkit-box-shadow: 10px 10px 0 0 #075782;
            -moz-box-shadow: 10px 10px 0 0 #075782;
            box-shadow: 10px 10px 0 0 #075782;
          }

          .cardLeft {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            width: 16em;

            &:after {
              content: "";
              position: absolute;
              display: block;
              width: 15px;
              height: 15px;
              background: #8ECAE6;
              border-radius: 50%;
              right: -1em;
              bottom: -1em;
              z-index: 1;
            }
          }

          .cardRight {
            width: 6.5em;
            border-left: 2px dashed #075782;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;

            &:after,
            &:before {
              content: "";
              position: absolute;
              display: block;
              width: 15px;
              height: 15px;
              background: #8ECAE6;
              border-radius: 50%;
              left: -.5em;
            }

            &:before {
              top: -.4em;
            }

            &:after {
              bottom: -.4em;
              background: #075782;
            }
          }

          h1 {
            font-size: 1.1em;
            margin-top: 0;

            span {
              font-weight: normal;
            }
          }

          div.content {
            padding-top: 20px;

            div.label {
              text-transform: uppercase;
              font-weight: normal;
              margin: 5px 0 0;

              p {
                font-size: 0.9em;
                color: #525252;
                margin: 0;
              }

              span {
                font-size: 0.7em;
                color: #a2aeae;
              }
            }
          }
        }
      }
    }
  }
}